- name: Copy NGINX custom configuration file for JSON format into place.
  template:
    src: templates/etc/nginx/json_format.conf.j2
    dest: /etc/nginx/conf.d/json_format.conf
    owner: root
    group: root
    mode: 0644
  notify:
    - validate nginx configuration
    - reload nginx
  ignore_errors: yes
