---
# tasks file for portainer

- name: Create /etc/promtail directory
  file:
    path: "/etc/promtail"
    owner: root
    group: root
    state: directory
    mode: 0755

- name: Copy Promtail custom configuration for tailing logs.
  template:
    src: templates/etc/promtail/config.yml.j2
    dest: /etc/promtail/config.yml"
    owner: root
    group: root
    mode: 0644

- name: Create Promtail container
  docker_container:
    name: promtail
    image: grafana/promtail:latest
    state: started
    recreate: yes
    restart_policy: always
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - /etc/promtail:/etc/promtail:ro
      - /var/log:/var/log:ro
      - /run/log/journal/:/run/log/journal/:ro
      - /etc/machine-id:/etc/machine-id:ro